<%- include('../layouts/header.ejs') %>
<br><br>
<div class="container bg-dark mt-5">
    <div class="row">
        
            <table class="table table-bordered table-responsive">
                <thead class="text-center">
                    
                    <tr>
                        <th style="background: whitesmoke; font-family: serif;">Name</th>
                        
                        <th style="background: whitesmoke; font-family: serif;">_id</th>

                        <th  style="background: whitesmoke; font-family: serif;">Email</th>
            
                        <th style="background:  whitesmoke;  font-family: serif;">Age</th>       
                    </tr>
                </thead>
            
                <% data.forEach((item)=>{ %>
                    <tbody class="text-center">
                        <tr>                                
                            <td class="bg-light align-middle  shadow-lg" style="color:#607D8A ;"><h6><%=  item.name %></h6></td>                              
                            
                            <td class="align-middle bg-light shadow-lg" style="color:#607D8A ;"><h6><%= item._id %></h6></td>
            
                            <td class="bg-light align-middle  shadow-lg" style="color:#607D8A ;"><h6><%=  item.email %></h6></td>
            
                            <td class="align-middle bg-light shadow-lg" style="color:#607D8A ;"><h6><%= item.gender %></h6></td>        
                        </tr>                    
                    </tbody> 
                <% }) %>                
            </table> 
        
    </div>
</div>
<br><br><br><br><br>
<%- include('../layouts/footer.ejs') %>